.container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 10vh;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-left {
    display: flex;
    height: 7vh;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: aliceblue;
    color:black;
    width: 20%;
    display: flex;
    margin-left: 15px;
    font-size: 25px;
}

.nav-right {
    display: flex;
    width: 30%;
    margin-right: 20px;
    font-size: 20px;
    justify-content: space-between;
}
.nav-left p,
.nav-right p {
    transition: background-color 0.3s;
}

.nav-left p:hover,
.nav-right p:hover {
    color: #3498db; /* Change the background color on hover */
}


@media (max-width: 320px) {
    .container {
        height: auto;
    }

    .nav-left,
    .nav-right {
        display: flex;
        flex-direction: column;
        color: aliceblue;
        justify-content: center;
        align-items: center; /* Optional: Center items horizontally in a vertical layout */
        width: 100%; /* Full width for better responsiveness */
        margin: 5px 0; /* Add some spacing between items */
    }
}
@media (max-width: 430px) {
    .container {
        height: auto;
    }

    .nav-left,
    .nav-right {
        display: flex;
        flex-direction: column;
        background-color: transparent;
        justify-content: center;
        align-items: center; /* Optional: Center items horizontally in a vertical layout */
        width: 100%; /* Full width for better responsiveness */
        margin: 5px 0; /* Add some spacing between items */
    }
}
@media (max-width: 770px) {
    .nav-left,
    .nav-right {
        font-size: 12px;
    }
}
